extends layout

block content
  h1= title
  a(href='/utama') Logout  || 
  a(href='/index')  Add New Student || 
  a(href='/user')  Add New User ||
  div
     p Welcome to #{profile.fullName} Di Web Belajar NodeJS



